body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
    padding-bottom: 0;
    width: 100vw;
}

.navbar-brand {
    width: 50px;
}

.bottom-nav {
    padding-top: 2px;
    padding-right: 16px;
}

.bottom-nav a {
    font-size: 0.8em;
    padding-top: 0;
}

.bottom-nav i {
    font-size: 2.5em;
}

.bottom-nav>.nav-link {
    padding-bottom: 2px;
}

.nav-link {
    color: white;
    display: block;
    text-align: center;
}

.active {
    border-bottom: 5px white solid;
}

.nav-link.active:hover {
    color: white;
}

.desktop-button {
    display: none;
}

.material-icons {
    vertical-align: text-bottom;
    margin-right: 4px;
}

.page-container {
    margin-top: 75px;
    margin-bottom: 75px;
}

.hr-text {
    margin-top: 40px;
    font-size: 1.25em;
    font-weight: 600;
    color: gray;
}

.card {
    border-radius: 10px;
    border: 1px solid gray;
    margin-bottom: 20px;
}

.card-pfp {
    width: 40px;
    border-radius: 100%;
    margin-left: 10px;
}

#profilePicture {
    width: 80px;
    border-radius: 100%;
}

#profilePage {
    max-width: 95%;
    text-align: center;
}

#profilePage>.list-container {
    text-align: left;
}

#profileName {
    margin-left: 10px;
}

.dropdown,
#profileDropdown {
    margin-left: auto;
    height: 40px;
    width: 40px;
    align-self: flex-start;
}

#profileDropdown>.material-icons {
    font-size: 40px;
}

#venmoLogo,
#cashAppLogo {
    width: 30px;
    border-radius: 10px;
}

.card-username {
    margin-left: 10px;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: -10px;
}

.card-seats-available,
.ride-type {
    margin-left: auto;
    width: fit-content;
    background-color: rgba(216, 2, 2, 0.361);
    padding: 3px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
}

hr {
    margin-top: 5px;
}

/* Delete second-post hardcoded different background color */
#second-post {
    background-color: lightblue;
}

.card-locations {
    margin-top: -10px;
}

.card-locations h6 {
    font-size: 1.1em;
    margin-left: 45px;
    margin-bottom: 3px;
}

.card-times {
    background-color: rgba(128, 128, 128, 0.217);
    max-width: 400px;
    padding: 10px;
    padding-bottom: 5px;
    border-radius: 7px;
    margin-left: 12px;
    min-height: auto;
}

.card-money {
    margin-left: auto;
    margin-right: 40px;
    font-size: 1.25em;
}

.card-money .card-value {
    font-size: 2.25em;
    color: green;
}

#mainPage>button {
    border-radius: 10px;
    background-color: white;
    color: #800000;
    border: 1px #800000 solid;
    display: block;
    padding: 15px 40px;
    width: 70%;
    margin-bottom: 10px;
    font-size: 1em;
}

button>i {
    margin-right: 10px;
}

#rosefireButton {
    display: block;
    margin: 60px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}

#roseLogo {
    max-width: 350px;
    display: block;
    margin: 20px auto;
}

.ride-type {
    background-color: lightblue;
    margin-top: -40px;
}

.pay-text {
    font-size: 1.5em;
    font-weight: 500;
}

#profileName {
    align-self: center;
}

#profileNameAndPhoto {
    margin-left: 15px;
}

.create-heading {
    font-weight: 600;
    font-size: 1.5em;
}

.hide-on-click {
    display: none;
}

#moneyLabel, #seatsLabel {
    position: static;
    margin-right: 5px;
    color: black;
}

#moneyInput, #seatsInput {
    max-width: 60px;
}

#submitButton {
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: #800000;
    z-index: 99999;
    font-size: 1.2em;
}

#validationText {
    color:white;
    text-align: center;
}

#cropModal {
    width: fit-content;
    height: fit-content;
}

#editProfileHeading {
    color: white;
}

#imageToCrop {
    max-height: 500px;
}

.modal-content {
    max-width: 600px; 
    max-height: 600px; 
    margin: auto; 
  }
  
  .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
  }

#submitButton.profile-submit {
    z-index: 999999;
    color: white;
    position: static;
    margin-left: auto;
}

#startingLocation, #destinationLocation {
    padding-top: 2px;
}

#detailActionButton {
    position: fixed;
    border-radius: 5px;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    background-color: #800000;
    z-index: 99999;
    font-size: 1.2em;
}

#riderHeading {
    font-size: 1.5em;
    font-weight: 500;
}

#passengerInfo {
    background-color: #800000b6;
    width: fit-content;
    padding: 13px;
    padding-right: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.details,
#requestDetailPage {
    max-width: 100%;
}


div.dollar-sign {
    position: relative;
}

div.dollar-sign input {
    padding-left: 15px;
}

div.dollar-sign:after {
    position: absolute;
    left: 3px;
    top: 5px;
    content: '$';
}

.detail-username {
    margin-left: 10px;
    font-size: 1.22em;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: -10px;
}

/* .detail-seats-available,
.ride-type {
    margin-left: auto;
    background-color: rgba(216, 2, 2, 0.361);
    padding: 3px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: -27px;
} */

.detail-locations {
    margin-top: 5px;
}

.detail-locations h6 {
    font-size: 1.5em;
    margin-left: 45px;
    margin-bottom: 3px;
}

.detail-times {
    background-color: rgba(128, 128, 128, 0.217);
    max-width: 400px;
    padding: 10px;
    padding-bottom: 5px;
    border-radius: 7px;
    margin-left: 12px;
    min-height: auto;
}

.detail-pfp {
    width: 50px;
    border-radius: 100%;
    margin-left: 10px;
    margin-bottom: 30px;
}

.rider-pfp {
    max-width: 20px;
    position: absolute;
    margin-left: 10px;
    border-radius: 100%;
}

.rider-name {
    margin-left: 35px;
}

.rider {
    margin-bottom: 5px;
}


.detail-money {
    margin-left: 10px;
    margin-right: 40px;
    font-size: 1.25em;
}

.detail-money .detail-value {
    font-size: 2.25em;
    color: green;
}

#map {
    height: 60vh;
    border-radius: 10px;
    margin-bottom: 20px;
}

.bmd-form-group [class*=" bmd-label"], .bmd-form-group [class^="bmd-label"] .location-form-label {
    position: static;
    margin-bottom: 0;
}

.form-control, .is-focused .custom-file-control, .is-focused .form-control {
    background-image: linear-gradient(0deg,#800000 2px,rgba(73, 0, 9, 0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
    z-index: 99999;
}

.is-focused [class^="bmd-label"],  .is-focused [class*="bmd-label"] {

    color: #800000;
}

.dropdown-menu-right {
    left: -128px;
}

#detailDropdown {
    display: none;
}

#mapButtonContainer {
    text-align: center;
}

#mapButton {
    max-height: 250px;
    max-width: 90vw;
}

#uploadPhotoLabel {
    display: block;
    margin: 20px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
}

#uploadPhotoLabel:active {
    transform: translateY(2px);
    opacity: 0.8;
}

#input-file {
    display: none;
}

#myPicture {
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.profileForms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 30px;
  }

#profileBody {
    background: #800000;
    font-family: 'Poppins', sans-serif;
}

.inputBox {
    display: block; 
    margin-bottom: 10px; 
    position: relative;
    width: 250px;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    background: #800000;
    border-radius: 7px;
    outline: none;
    color: white;
    font-size: 1em;
}

/* TODO: Maybe figure out some text/click transitions */
.inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    color: white;
    pointer-events: none;
    font-size: 1em;
    color: white;
    transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
    color: lightgrey;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #800000;
}


@media (min-width: 768px) {
    .bottom-nav {
        display: none;
    }

    .desktop-button {
        display: block;
    }

    .detail-username {
        font-size: 2em;
    }

    .detail-pfp {
        width: 150px;
    }
}

@media (min-width: 992px) {
    .navbar {
        padding-right: 100px;
    }
    .detail-navbar {
        padding-right: 10px;
    }   

    #profilePage h6 {
        font-size: 1.5em;
    }
}