body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
    padding-bottom: 0;
    width: 100vw;
}

.navbar-brand {
    width: 50px;
}

.bottom-nav {
    padding-top: 2px;
    padding-right: 16px;
}

.bottom-nav a {
    font-size: 0.8em;
    padding-top: 0;
}
.bottom-nav i {
    font-size: 2.5em;
}

.bottom-nav > .nav-link {
    padding-bottom: 2px;
}

.nav-link {
    color: white;
    display: block;
    text-align: center;
}

.active {
    border-bottom: 5px white solid;
}

.nav-link.active:hover {
    color: white;
}

.desktop-button {
    display: none;
}

.material-icons {
    vertical-align: text-bottom;
    margin-right: 4px;
}

.page-container {
    margin-top: 75px;
    margin-bottom: 75px;
}

.hr-text {
    margin-top: 40px;
    font-size: 1.25em;
    font-weight: 600;
    color: gray;
}

.card {
    border-radius: 10px;
    border: 1px solid gray;
    margin-bottom: 20px;
}

.card-pfp {
    width: 40px;
    border-radius: 100%;
    margin-left: 10px;
}

#profilePicture {
    width: 80px;
    border-radius: 100%;
}

#profilePage {
    max-width: 95%;
    text-align: center;
}

#profileName {
    margin-left: 10px;
}

.dropdown, #profileDropdown {
    margin-left: auto;
    height: 40px;
    width: 40px;
    align-self: flex-start;
}

#profileDropdown>.material-icons {
    font-size: 40px;
}

#venmoLogo, #cashAppLogo {
    width: 30px;
    border-radius: 10px;
}

.card-username {
    margin-left: 10px;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: -10px;
}

.card-seats-available, .ride-type{
    margin-left: auto;
    background-color: rgba(216, 2, 2, 0.361);
    padding: 3px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: -27px;
}

hr {
    margin-top: 5px;
}

/* Delete second-post hardcoded different background color */
#second-post {
    background-color: lightblue;
}

.card-locations {
    margin-top: -10px;
}

.card-locations h6 {
    font-size: 1.1em;
    margin-left: 45px;
    margin-bottom: 3px;
}

.card-times {
    background-color: rgba(128, 128, 128, 0.217);
    width: 200px;
    padding: 10px;
    padding-bottom: 5px;
    border-radius: 7px;
    margin-left: 12px;
    min-height: auto;
}

.card-money {
    margin-left: auto;
    margin-right: 40px;
    font-size: 1.25em;
}

.card-money .card-value {
    font-size: 2.25em;
    color: green;
}

#mainPage > button {
    border-radius: 10px;
    background-color: white;
    color: #800000;
    border: 1px #800000 solid;
    display: block;
    padding: 15px 40px;
    width: 70%;
    margin-bottom: 10px;
    font-size: 1em;
}

button > i {
    margin-right: 10px;
}

#rosefireButton {
    display: block;
    margin: 60px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}

#roseLogo {
    max-width: 350px;
    display: block;
    margin: 20px auto;
}

.ride-type {
    background-color: lightblue;
}

.pay-text {
    font-size: 1.5em;
    font-weight: 500;
}

#profileName {
    align-self: center;
}

#profileNameAndPhoto {
    margin-left: 15px;
}

@media (min-width: 768px) {
    .bottom-nav {
        display: none;
    }
    .desktop-button {
        display: block;
    }
}

@media (min-width: 992px) {
    .navbar {
        padding-right: 100px;
    }
    #profilePage h6 {
        font-size: 1.5em;
    }
}